<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    <div class="user-posts-contents clearfix">
    <% @user.posts.each do |post| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <img alt="image" src="<%= post.image %>">
          </div>
        </div>
        <div class="detail">
          <%= link_to post.text, "/posts/#{post.id}" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
