<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="show-img">
        <img alt="image" src="<%= @post.image %>">
        <span class="name">
          <a href="/users/<%= @post.user.id %>">
            <span>投稿者：</span><%= @post.user.name %>
          </a>
        </span>
      </div>
      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
        </div>
      <% end %>
      <div class="text">
        <p>商品名： <%= @post.text %></p>
      </div>
      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@post.id}/create", {method: "post"})  do %>
          <span class="fa fa-heart like-btn"></span>
        <% end %>
      <% end %>
      <%= @likes_count %>
      <div class="form-container">
        <% if @current_user %>
        <%= form_tag("/posts/#{@post.id}/comments", method: :post) do %>
          <textarea cols="60" name="text" placeholder="コメントする" rows="3"></textarea>
          <input type="submit" value="SENT">
        <% end %>
      </div>
    </div>

    <% end %>
  </div>
</div>
