<!DOCTYPE html>
<html>
<head>
  <title>Tsumamiyage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header">
    <div class="header-logo">
      <h1 class="logo"><%= link_to("つまみやげ", "/") %></h1>
    </div>
    <div class="header-list">
      <ul>
          <li>ユーザー名</li>
          <li>つまみやげとは</li>
          <li><%= link_to "投稿する", "/posts/new" %></li>
          <li><%= link_to "新規登録", "/signup" %></li>
        </ul>
    </div>
  </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

<%= yield %>

  <footer>
    <p>
      Copyright Tsumamiyage 2018.
    </p>
  </footer>
  <script>
  $( document ).ready(function() {
    $('.flash').fadeOut(3000);
});
</script>
</body>
</html>
